section {
  padding: 40px;
  text-align: center;
}

button {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
