body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 40px;
  text-align: center;
}

button {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}
.page-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 24px;
  box-sizing: border-box;
}
